Media/HYC*

Notes/Help\ Ukraine.md
Notes/SST2022\ Pitch.md
Notes/Y\ Combinator.md
Notes/Complaint\ to\ Tokayev.md

MOC/Hack\ Your\ Closet.md
MOC/Volunteering.md

Idea/PayInMate.md
Idea/HYC*

Summary/A\ Review\ of\ Modern\ Fashion\ Recommender\ Systems.md
Summary/The\ Lean\ Startup\ -\ Eric\ Ries.md
